<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="osgearth.Example"
      android:installLocation="auto"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:targetSdkVersion="19" android:minSdkVersion="10"></uses-sdk>
    <uses-feature android:glEsVersion="0x00020000"/> <!-- OpenGL minimum requirements (2.0) -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application 
        android:name=".GVPTApp"
        android:label="@string/app_name" 
        android:icon="@drawable/pt"
        android:allowBackup="true">
        <activity android:name=".osgViewer"
                  android:label="@string/app_name" android:screenOrientation="portrait"> <!--  Force screen to landscape -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".PickerActivity"/>
        <activity android:name=".SettingsActivity"/>

    </application>
</manifest>